<!-- Footer -->
<section id="footer" class="position-relative">
    <footer class="page-footer font-small blue pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Kopyaİçerik'e Hoşgeldiniz.</h5>
            <p>Kopyaİçerik, pek çok makale yazarı ve web sitesinde yayınlamak üzere makale satın alan kişilerin kullanımı için tasarlanmış çevrim içi bir kopya içerik kontrol aracıdır.</p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Kurumsal</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Hakkımızda</a>
              </li>
              <li>
                <a href="#!">İletişim</a>
              </li>
              <li>
                <a href="#!">Duyurular</a>
              </li>
              <li>
                <a href="#!">Gizlilik Politikası</a>
              </li>
              <li>
                  <a href="#!">Kullanım Şartları</a>
                </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">İletişim Adreslerimiz</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">iletisim@kopyaicerik.com</a>
              </li>
              <li>
                <a href="http://facebook.com/kopyaicerik">facebook.com/kopyaicerik</a>
              </li>
              <li>
                <a href="http://instagram.com/kopyaicerik">instagram.com/kopyaicerik</a>
              </li>
              <li>
                <a href="http://twitter.com/kopyaicerik">twitter.com/kopyaicerik</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Random Group</a>
      </div>
      <!-- Copyright -->

    </footer>
  </section>